@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    font-size:1.4rem;
    padding:18px 34px;
    border-radius: 4px;
}
.btn-primary{
    background-color: theme('colors.primary');
    color: white;
    border-radius: 4px;
}
